*{
  margin:0;
  padding:0;
}
header{
  margin-left: 38%;
  margin-top: 5%;
}
body{
  margin-top: 2%;
  margin-left: 45%;
}
nav{
  margin-left: -20%;
}
a{
  width:130px;
  height:30px;
  margin-left: 30px;

}
